.Sidebar {
    width: 16.66667%;
    min-height: 100vh;
    align-items: center;
    display: block;
    padding: 40px;
    color: #6F7B7E;
    background-color: #F2F2F2;
}

.Sidebar a {
    text-decoration: none;
    width: 100%;
}

.Sidebar ul {
    list-style: none;
}

.Sidebar li {
    position: relative;
    margin: 1.6em 0;
}

.Sidebar a {
    line-height: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    transition: all ease-out 300ms;
}

.Sidebar a:active {
    color: white;
}

.Sidebar a:not(.active) {
    color: red;
}